@charset "UTF-8";

@font-face {
  font-family: myfonts;
  src:url(../fonts/karakaze-R.ttf)
  
}
@font-face{
    font-family: myfont2;
    src: url(../fonts/karakaze-R.otf)
}

/*================
共通クラス
================*/

html{
    height: 100%;
}

body{
    height: 100%;
    line-height: 1.65;    
}

.wrapper{
    min-height: 100%;
    height: auto;
  /* フッターの高さ分だけ、ネガティブインデントを指定 */
    margin: 0 auto -60px;
  /* フッターの高さ分だけ、パディングを指定 */
    padding: 0 0 60px;
}
body p{
    letter-spacing: 1.5px;
    color: #514646;
}

.section-title{
    font-family: myfonts;
    font-size:50px;
    letter-spacing: 1.5px;
}

/*================
header
================*/

header{
    font-family: myfonts;
    font-size:25px;
    background-color :#0E2F5B; 
    
}  

/*==.site-header{
    position: fixed;
  
    z-index: 99;
    
}  ===*/ 

    


/*===============
top
================*/

.top{
    background-image: url(../img/top.jpg);
    height:500px;
    background-size: cover;
    color: white;
    font-family: myfonts;
    
}

.top h1 {
 letter-spacing: 1.7px;
 padding: 180px 0 20px 0;

}

.top p{
    font-size: 30px;
    
}

/*===============
contact
================*/
.contact input,textarea{
    color: #514646;
    border:none;
}


/*===============
footer
================*/

footer{
    height: 60px;
    background-color: #102140;
}





/*===============
スマホ用の表示
==============*/
@media only screen and (max-width:767px){
  
    .clear::after{
        content: none;
    }
    .top{
        height:400px;
        background-size: cover;

    }
    .top h1{
        font-size: 42px;
    }
    .top p{
        font-size:20px
    }
}